
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/UILayout/Index.cshtml";
}

<br>
<h1>Taşınan veri bookpickdate: @ViewBag.bookpickdate</h1>
<h1>Taşınan veri bookoffdate: @ViewBag.bookoffdate</h1>
<h1>Taşınan veri timepick: @ViewBag.timepick</h1>
<h1>Taşınan veri timeoff: @ViewBag.timeoff</h1>
<h1>Taşınan veri locationID: @ViewBag.locationID</h1>

<br>

